ion-content {
    --background: #abd16e;
    font-family: 'Times New Roman', Times, serif;
    padding: 5px;
  }

  .searchbar {
    color: blue;
  }
  
  ion-slides {
    height: 100%;
    max-width: 800px;
    background-color: var(--ion-color-danger); //Aqui uso una variable
    margin:10px;
  }
  .swiper-slide {
    display: block;
    margin-bottom: 60px;
    color: var(--ion-color-primary);
  }
  
  ion-slide > h1, h2 {
    margin: 0 0 0 0;
    color: var(--ion-color-personal); //aqui uso mi variabe creada
  }
  
  ion-slide > p {
    border-width: 2px;
    border-color: black;
    border-style: solid;
    font-style: italic;
    font-size: 22px;
    padding: 10px 10px 10px 10px;
    margin: 25px 25px 25px 25px;
  }
  
  ion-slide > ion-icon {
    color: chartreuse;
  }
  
  ion-slide > img {
    max-height: 50%;
    max-width: 50%;
    margin: 64px 0;
  }
  
  ion-slide > ion-icon[name="close"] {
    float: right;
    color: blue;
    font-size: 50px;
  }